</div><!-- /.container -->
<div class="container">
<!-- footer  -->
<footer class="footer-distributed" style="padding:25px">
 
  <div class="footer-left">
      <!-- <img src="img/logo.png"> -->
    <p>
      <img src="/images/little.png" style="width: 87%;" height="50">

    </p>
    
   
   

    <p class="footer-company-name">© 2020 SamyGreens. All rights reserved.</p>
  </div>

  <div class="footer-center">
    <p class="footer-links">
      <center>
      <a href="/" style="text-decoration: none;color: #128616;;">Home</a>
      <br>
      <a href="/about"  style="text-decoration: none;color:  #128616;;">About</a>
      <br>
      <a href="/contact"  style="text-decoration: none;color:  #128616;;">Contact</a>
      <br>
      <a href="/partners"  style="text-decoration: none;color:  #128616;;"  >Our Business Partners</a>
      <br>
      <!-- <a style="text-decoration: none;color: black;" href="https://www.instagram.com/samy_greens_microgreens/"  target="_blank" ><i style="font-size: x-large;text-decoration: none;" class="fa fa-instagram"></i></a> -->
      </center>
    </p>
  </div>
  <div class="footer-right">
    <p >
      <span><center><img src="/images/fssai.PNG" alt="fssai" height="70" width="140"></center></span>
      <br>Approved by Food Safety and Standard Authority of India.
</p>
    
  </div>
  <div style="color: darkgrey;" class="offset-md-6">
    Design and Development by <a href="https://www.linkedin.com/in/payal-jindal/" target="_blank" style="color: #128616;">Payal<img src="/images/linkedin.PNG" alt="" height="11px" width="11px"></a>
  </div>
</footer>

</div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>