<%- include ('_layouts/header') -%>

<div class="container">
    <center>
    <div class="item" >
        <table>
            <tr>
                    <td> <center><img src="/images/partner2.PNG" alt="Owl Image" height="100"> <br>
                        <img src="/images/partner7.PNG" alt="Owl Image" height="100"> <br> <br>
                        <img src="/images/partner4.PNG" alt="Owl Image" height="100"> <br> <br>
                        <img src="/images/partner11.PNG" alt="Owl Image" height="100">
                        </center>
                    </td>
                    <td>
                        <center> <img src="/images/partner1.PNG" style="margin-top: 0ch;" alt="Owl Image" height="100"> <br>
                        <img src="/images/partner14.PNG" alt="Owl Image" height="100"><br>
                        <img src="/images/partner12.PNG" alt="Owl Image" height="100"> <br>
                        <img src="" alt="Fair mount" height="100">
                        </center>
                    </td>
                
                    <td>
                        <center> 
                        <img src="/images/partner6.PNG" alt="Owl Image" height="100"> <br>
                        <img src="/images/partner9.PNG" alt="Owl Image" height="100"> <br>
                        <img src="/images/partner13.PNG" alt="Owl Image" height="100"> <br>
                        <img src="/images/partner8.PNG" alt="Owl Image" height="100">
                        </center>
                    </td>
                    <td>
                        <center> <img src="/images/partner3.PNG" alt="Owl Image" height="100"> <br>
                        <img src="/images/partner5.PNG" alt="Owl Image" height="100"> <br>
                        <img src="/images/partner10.PNG" alt="Owl Image" height="100">
                        </center>
                    </td>

            </tr>
        </table>
        
    </div>
 
     
    </center>
</div>
<%- include ('_layouts/footer') -%>