<%- include('_layouts/header') %>
<div class="container">
    <p>
        <b>
            <center  style="font-size: xx-large;">
                <i>Subscribe to Healthy pack of Microgreen Salad Box !!</i>
            </center>
        </b>
    </p>
<p style="font-size: large;text-align: justify;">
   <b> Microgreens</b> are the seedlings of vegetables and herbs. The baby plants from the seeds of
vegetables and herbs is considered a <b>Microgreen</b>. We grow <b>Microgreens</b> in compost,
under proper sunlight, use drinking water for watering and washing, and don’t use any
PESTICIDE, MANURE or GROWTH HORMONES. Our process of growing and Nature
coexist.
<br> <br>
Purple Radish Sunflower Representative Pic of Microgreen Box.
Several studies have demonstrated the high level of phytonutrients, antioxidant, vitamins,
and minerals that Microgreens contain. Due to their high antioxidant content, Microgreens
are considered a functional food, a food that promotes health or prevents disease and
increases Immune system. Researchers found some Microgreens contain up to 40 times
higher levels of vital Nutrients than their mature counterparts. They have strong
concentrated flavour too. Microgreens are very good source of Energy and Health for
Vegetarians. The Plant-based foods like Microgreens also support a healthy complexion,
increased energy, lower weight, and longer life expectancy.
<br> <br>
Microgreen are eaten Raw. It is used in Sandwiches, as topping to Pizza, added to your
salads, one can make a healthy salad bowl or Smoothie and many other uses.
<br> <br>
SAMY Greens, has been growing Microgreens since 2015 and supplying to all the top Hotels
and Restaurants in Punjab and Delhi. We take pride in being a preferred supplier to chains
like Park Plaza, Oberoi, Hyatt, Taj, Westin to name a few.
<br> <br>
We have started home supplies of Mix Microgreens in Boxes of 100 gms each. We take
utmost care of Hygiene and Quality during harvesting, packing and delivery of the boxes.
Following is the Subscription Charges <br> <br>
a. Two Boxes per week – Rs 400  <br>
b. Four Boxes per week – Rs 700 <br>
c. Six Boxes per Week – Rs 900 <br>
d. Additional boxes to 6 boxes at Rs 150 each. <br>
<br>
<b>Ingredients:</b> Microgreens, Roquettes, Cherry Tomatoes, Edible Flowers, Purple Basil, Herbs etc. However the
ingredients will vary as per the season and availability. <br> <br>
<b>Mode of Payment</b> - cash payment at the time of First Delivery, Delivery charges Included !! (Once in
a week) <br> <br>
<b>We are offering introductory discount of 15% and 25% on above prices if you subscribe for a
    week or Month respectively.</b> <br> <br>
<b>Contact for:</b> Special offer on References. T&amp;C Apply.
</p>
</div>

<%- include('_layouts/footer') %>