<%- include('_layouts/header') %>

<div class="container">
<p style="text-align: center;">
    <b style="font-size: xx-large;"><u>To Whomsoever It May Concern</u></b>
</p>

    <br>
<p style="font-size: large;text-align: justify;">
Dear Madam / Sir,
<br> <br>
It has been a privilege to be a part of the Hospitality Industry from last almost 5 years.
When we started this venture in 2015, we never imagined that we will come so far.
The credit goes to all our Well Wishers, who have guided us and mentored us from
time to time. One of our Well Wisher suggested us to get our products tested. Pl, note
we took this initiative and got our Microgreens tested at Punjab Agriculture University
(PAU), Ludhiana.
<br> <br> 
We take pride to present the report as attached. Just to give you an idea, we have
made a small Analysis of the result as below.
</p>


<img style="display: block;margin-left: auto;margin-right: auto;" height="350" src="/images/testimonial.PNG" alt="">

<br> <br>
<p style="font-size: large;text-align: justify;">
Below are the findings
<br> <br>
a. Our products are low on Heavy Metals like Arsenic, Mercury, Cadmium etc
making it SAFE for consumption
<br>
b. Important Nutrients like Potassium, Iron and Calcium are found in good levels.
<br>

We wish to thank you and your team for all the support and guidance. We wish to
keep serving you with PURE, CLEAN and NEW products. <br> <br>
Thanking you and Best Regards, <br>

For SAMY Greens, <br>
Mamta Malhotra <br> <br>

*Ref: Food Safety And Standards (Contaminants, Toxins And Residues)
Regulations, 2011 – Chapter 2. <br>
** Estimates drawn from the Internet <br><br>

<b>Disclaimer:</b> The results as given in the tabulation above are a representation / for reference. They
don’t carry any legal identity. As we don’t use any external medium to induce these Parameters, our
product can have better or below levels of these parameters or there could be new parameters also
reported. The findings are purely our understanding, there can be a difference of opinion on the same.
</p> 

</div>

<%- include('_layouts/footer') %>